
.center{
  text-align: center;
}

.sendMail{
   width: 30vw !important;
    margin: 25px auto 0 auto!important;
   color : green !important;
   border: 1px solid green !important;
}

.errorSendMail , .error{
   width: 35vw !important;
    margin: 25px auto 0 auto !important;
   color: red !important;
   border: 1px solid red !important;
}
.justify{
  text-align: justify;
}

.img-detail{
   width: 40vw;
   height: auto;
   margin-bottom: 25px;
}

.container-Error{
   text-align: center;
   margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
   .img-detail{
      width: 80vw;
   }
}
/* comment */
.info-comment{
   font-size: 0.8em;
}
.comment-post{
   border: 1px solid lightgray;
   box-shadow: 5px 5px lightgrey;
   border-radius: 25px;
   padding: 0px 10px;
   margin-bottom: 20px;
}

.all-btn-comment{
   margin-top: 25px;
}

.invisible{
   display: none;
}

.subheading{
   font-weight: 600 !important;
}

span.fa-stack.fa-lg:hover{
   color:#00657b;
}

.btn.btn-primary, .btn.btn-warning{
   border-radius: 25px;
}

.btn.btn-warning:hover{
        background-color: orange!important;
      border-color: orange!important;
}
.btn.btn-primary:hover{
      background-color: #00657b!important;
      border-color: #00657b!important;
}

header.masthead{
   background-image:url(../ressources/img/home-bg.jpg);
}
.site-heading {
    padding: 200px 0 100px !important;
}

.btn-center{
   text-align: center;
}

.img-post{
   width: 100%;
   height: auto;
}

.post-list{
   margin-bottom: 20px;
}

/* form */

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 200px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

/* about */

.link-contact,.link-contact:hover{
   text-decoration: none;
   font-weight: 700;
}


.text-about{
   text-align: justify;
}

.highlight-phone {
  color: #313437;
  padding: 50px 0 55px;
  overflow: hidden;
}

@media (max-width:767px) {
  .highlight-phone {
    text-align: center;
  }
}

.highlight-phone p {
  color: #7d8285;
}

.highlight-phone h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-phone .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}

@media (max-width:767px) {
  .highlight-phone .intro {
    max-width: none;
  }
}

.highlight-phone .intro p {
  margin-bottom: 35px;
}

.highlight-phone .intro .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.highlight-phone .intro .btn:hover {
  opacity: 1;
}

.highlight-phone .intro .btn:active {
  transform: translateY(1px);
}

.highlight-phone .intro .btn-primary {
  background-color: #055ada;
  color: #fff;
}

.highlight-phone .iphone-mockup {
  position: relative;
  max-width: 260px;
  margin-top: -30px;
  margin-bottom: -230px;
  transform: rotate(-15deg);
}

.highlight-phone .iphone-mockup img.device {
  width: 100%;
  height: auto;
}

.highlight-phone .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(../ressources/img/code.jpg);
  background-size: cover;
  background-position: center;
}

.highlight-phone .iphone-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

.chartjs-render-monitor {
   height: 30vw !important;
   width: 40vw !important;
}