{% include 'header.php' %}

 <div class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Fabien Hamayon</h2>
                        <h5>Développeur Web</h5> 
                        <div class= "text-about">
                           <p>En perpétuelle formation, afin d'être a la pointe de toutes les nouvelles technologies, je suis aujourd'hui un développeur complet et passionné.</p>
                           <p>Vous avez une idée numérique, je suis là pour vous accompagner dans la réflexion ainsi que le développement de votre projet</p>
                           <p>Pour toutes questions, vous avez a votre disposition un <a class="link-contact" href="index.php?page=contact" >formulaire de contact</a> et je m'engage à vous faire une réponse dans les plus bref délai</p>
                        </div>
                        <a class="btn btn-primary" href="../public/assets/ressources/cvFabien.pdf" download="cvFabien.pdf">Télécharger mon CV</a>
                     </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-none d-md-block iphone-mockup"><img class="device" src="../public/assets/ressources/img/iphone.svg">
                        <div class="screen"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'footer.php' %}