
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mon Blog PHP</title>
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../public/assets/css/dashboard.css">
</head>

<body>
   <div class="container-fluid">
      <header>
         <img src="../public/assets/ressources/img/php.png" class="img-circle" width="80">
         <a class="btn btn-warning" href="http://localhost/blog_PHP/public/index.php?post=deconnexion" >Déconnexion</a>
      </header>
      <div class="row">
         <aside>
            <div id="sidebar" class="nav-collapse ">
               <ul class="sidebar-menu" id="nav-accordion">
                  <h5 class="centered">{{title}}</h5>
                  <li class="mt">
                     <a class="sub-menu" href="index.php?post=administration#dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Tableau de bord</span>
                     </a>
                  </li>
                  <li class="sub-menu">
                     <a href="index.php?post=administration#users">
                        <i class="fa fa-desktop"></i>
                        <span>Utilisateurs</span>
                     </a>
                  </li>
                  <li class="sub-menu">
                     <a href="index.php?post=administration#articles">
                        <i class="fa fa-cogs"></i>
                        <span>Articles</span>
                     </a>
                  </li>
                  <li class="sub-menu">
                     <a href="index.php?post=administration#comments">
                        <i class="fa fa-cogs"></i>
                        <span>Commentaires</span>
                     </a>
                  </li>
               </ul>

               {{session.connect}}
               <!-- sidebar menu end-->
            </div>
         </aside>
            
         <div id="pageDashboard" class="container">
            {% include "dashboard.html.twig" %}
         </div>
         <div id="pageUsers" class="container">
            {% include "users.html.twig" %}
         </div>
         <div id="pageArticles" class="container">
            {% include "articles.html.twig" %}
         </div>
         <div id="pageComments" class="container">
            {% include "comments.html.twig" %}
         </div>
      </div>
   </div>

   <script src="../public/assets/js/main.js"></script>
   <script src="../public/assets/js/dashboard.js"></script>
   </body>
</html>