
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mon Blog PHP</title>
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../public/assets/css/dashboard.css">
</head>

<body>
   <div class="container-fluid">
      <header>
         <img src="../public/assets/ressources/img/php.png" class="img-circle" width="80">
         <a class="btn btn-warning" href="#" onclick="logout()">Déconnexion</a>
      </header>
      <div class="row">
         <aside>
            <div id="sidebar" class="nav-collapse ">
               <ul class="sidebar-menu" id="nav-accordion">
                  {# <p class="centered">
                     <img src="../public/assets/ressources/img/php.png" class="img-circle" width="80">
                  </p> #}
                  <h5 class="centered">Administration</h5>
                  <li class="mt" onclick="dashboard()">
                     <a class="sub-menu" href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Tableau de bord</span>
                     </a>
                  </li>
                  <li class="sub-menu" onclick="users()">
                     <a href="#">
                        <i class="fa fa-desktop"></i>
                        <span>Utilisateurs</span>
                     </a>
                  </li>
                  <li class="sub-menu" onclick="articles()">
                     <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Articles</span>
                     </a>
                  </li>
                  <li class="sub-menu" onclick="comments()">
                     <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Commentaires</span>
                     </a>
                  </li>
               </ul>
               <!-- sidebar menu end-->
            </div>
         </aside>
            
         <div id="page" class="container visible">
            {% include "dashboard.html.twig" %}
         </div>
         <div id="page2" class="container">
            {% include "users.html.twig" %}
         </div>
         <div id="page3" class="container">
            {% include "articles.html.twig" %}
         </div>
         <div id="page4" class="container">
            {% include "comments.html.twig" %}
         </div>
      </div>
   </div>

   <script src="../public/assets/js/main.js"></script>
   <script src="../public/assets/js/dashboard.js"></script>
   </body>
</html>