<h4>Liste des articles</h4>
<br>

<table class="table table-hover tab-article">
   <thead class="thead-dark">
      <tr>
         <th scope="col">#</th>
         <th scope="col">Date de création</th>
         <th scope="col">titre</th>
         <th scope="col">N° de commentaires</th>
         <th scope="col">Action</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th scope="row">1</th>
         <td>Mark</td>
         <td>Otto</td>
         <td>@mdo</td>
         <td>
            <button class="btn btn-danger btn-table">Supprimer</button>
            <button class="btn btn-warning btn-table">Modifier</button>
         </td>
      </tr>
      <tr>
         <th scope="row">2</th>
         <td>Jacob</td>
         <td>Thornton</td>
         <td>@fat</td>
         <td>
            <button class="btn btn-danger btn-table">Supprimer</button>
            <button class="btn btn-warning btn-table">Modifier</button>
         </td>
      <tr>
         <th scope="row">3</th>
         <td>Larry</td>
         <td>the Bird</td>
         <td>@twitter</td>
         <td>
            <button class="btn btn-danger btn-table">Supprimer</button>
            <button class="btn btn-warning btn-table">Modifier</button>
         </td>
      </tr>

   </tbody>
</table>

