{% include 'header.php' %}

 <div class="contact-clean">
         <div class="container-Error">
            <p class="{{class}}">{{message}}</p>
         </div>
        <form method="post" action="./index.php?post=contact" method="POST">
            <h2 class="text-center">Contactez-nous</h2>
            <div class="form-group">
               <input class="form-control" type="text" name="name" placeholder="Nom">
            </div>
            <div class="form-group">
               <input class="form-control" type="email" name="email" placeholder="Email">
               
            </div>
            <div class="form-group">
               <textarea class="form-control" name="message" placeholder="Message" rows="25"></textarea>
            </div>
            <div class="form-group btn-center">
               <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
        </form>

    </div>

{% include 'footer.php' %}
