
<div class="row counter">
   <div class="col-md-6 col-sm-6 mb">
      <div class="darkblue-panel pn">
         <div class="darkblue-header">
            <h5> Total utilisateurs</h5>
         </div>
         <h1 class="mt"><i class="fa fa-user fa-2x"></i></h1>
         <footer>
            <div class="centered">
               <h5>{{ countUsers }}</h5>
            </div>
         </footer>
      </div>
   </div>
   
   <div class="col-md-6 col-sm-6 mb">
      <div class="darkblue-panel pn">
         <div class="darkblue-header">
            <h5>Total Articles</h5>
         </div>
         <h1 class="mt"><i class="fa fa-file-text-o fa-2x"></i></h1>
         <footer>
            <div class="centered">
               <h5>{{ countComments }}</h5>
            </div>
         </footer>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-lg-6 col-md-12 col-sm-12">
      <canvas id="barChart"></canvas>
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12">
      <canvas id="barChart2"></canvas>
   </div>
   
   {# <canvas id="barChart" width="40vw" height="30vw"></canvas> #}
</div>

<script src="../public/assets/js/Chart.js"></script>

<script>
   const ctxB = document.getElementById("barChart").getContext('2d');
   const myBarChart = new Chart(ctxB, {
      type: 'bar',
      data: {
         labels: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jui", "Aou", "Sep", "Oct", "Nov", "Déc"],
         datasets: [{
            label: 'Utilisateurs',
            data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
            backgroundColor: [
               'rgba(255, 99, 132, 0.2)',
               'rgba(54, 162, 235, 0.2)',
               'rgba(255, 206, 86, 0.2)',
               'rgba(75, 192, 192, 0.2)',
               'rgba(153, 102, 255, 0.2)',
               'rgba(255, 159, 64, 0.2)',
               'rgba(255, 99, 132, 0.2)',
               'rgba(54, 162, 235, 0.2)',
               'rgba(255, 206, 86, 0.2)',
               'rgba(75, 192, 192, 0.2)',
               'rgba(153, 102, 255, 0.2)',
               'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
               'rgba(255,99,132,1)',
               'rgba(54, 162, 235, 1)',
               'rgba(255, 206, 86, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
               'rgba(255, 159, 64, 1)',
               'rgba(255,99,132,1)',
               'rgba(54, 162, 235, 1)',
               'rgba(255, 206, 86, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
               'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
         }]
      },
      options: {
         scales: {
            yAxes: [{
               ticks: {
                  beginAtZero: true
               }
            }]
         }
      }
   });


</script>

<script>
   const ctxB2 = document.getElementById("barChart2").getContext('2d');
   const myBarChart2 = new Chart(ctxB2, {
      type: 'bar',
      data: {
         labels: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jui", "Aou", "Sep", "Oct", "Nov", "Déc"],
         datasets: [{
            label: 'Commentaires',
            data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
            backgroundColor: [
               'rgba(255, 99, 132, 0.2)',
               'rgba(54, 162, 235, 0.2)',
               'rgba(255, 206, 86, 0.2)',
               'rgba(75, 192, 192, 0.2)',
               'rgba(153, 102, 255, 0.2)',
               'rgba(255, 159, 64, 0.2)',
               'rgba(255, 99, 132, 0.2)',
               'rgba(54, 162, 235, 0.2)',
               'rgba(255, 206, 86, 0.2)',
               'rgba(75, 192, 192, 0.2)',
               'rgba(153, 102, 255, 0.2)',
               'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
               'rgba(255,99,132,1)',
               'rgba(54, 162, 235, 1)',
               'rgba(255, 206, 86, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
               'rgba(255, 159, 64, 1)',
               'rgba(255,99,132,1)',
               'rgba(54, 162, 235, 1)',
               'rgba(255, 206, 86, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
               'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
         }]
      },
      options: {
         scales: {
            yAxes: [{
               ticks: {
                  beginAtZero: true
               }
            }]
         }
      }
   });


</script>



  