
<div class="row">
   <div class="col-md-6 col-sm-6 mb">
      <div class="darkblue-panel pn">
         <div class="darkblue-header">
            <h5> Total utilisateurs</h5>
         </div>
         <h1 class="mt"><i class="fa fa-user fa-2x"></i></h1>
         <footer>
            <div class="centered">
               <h5>7</h5>
            </div>
         </footer>
      </div>
   </div>
   
   <div class="col-md-6 col-sm-6 mb">
      <div class="darkblue-panel pn">
         <div class="darkblue-header">
            <h5>Total Articles</h5>
         </div>
         <h1 class="mt"><i class="fa fa-file-text-o fa-2x"></i></h1>
         <footer>
            <div class="centered">
               <h5>12</h5>
            </div>
         </footer>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-6 col-sm-6">
      <canvas id="barChart"></canvas>
   </div>
   <div class="col-md-6 col-sm-6">
      <canvas id="barChart2"></canvas>
   </div>
   
   {# <canvas id="barChart" width="40vw" height="30vw"></canvas> #}
</div>



  