{% include 'header.php' %}

   <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
               {% for post in posts %}
                  <div class="post-preview">
                     <a href="index.php?page={{post.id_post}}">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.lede}}</h3>
                     </a>
                     <p class="post-meta">Créer par  le  {{post.create_date}}</p>
                  </div>
                  <hr>
               {% endfor %}
            </div>
        </div>
    </div>

{% include 'footer.php' %}
