<h4>Liste des uilisateurs</h4>
<br>
<table class="table tab-users">
   <thead class="thead-dark">
      <tr>
         <th scope="col">#</th>
         <th scope="col">Date de création</th>
         <th scope="col">Nom</th>
         <th scope="col">Prénom</th>
         <th scope="col">Rôle</th>
         <th scope="col">Action</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th scope="row">1</th>
         <td>Mark</td>
         <td>Otto</td>
         <td>@mdo</td>
         <td>@mdo</td>
         <td>
            <button class="btn btn-danger btn-table">Supprimer</button>
         </td>
      </tr>
      <tr>
         <th scope="row">2</th>
         <td>Jacob</td>
         <td>Thornton</td>
         <td>@fat</td>
         <td>@mdo</td>
         <td>
            <button class="btn btn-danger btn-table">Supprimer</button>
         </td>
      </tr>
      <tr>
         <th scope="row">3</th>
         <td>Larry</td>
         <td>the Bird</td>
         <td>@twitter</td>
         <td>@twitter</td>
         <td>
            <button class="btn btn-danger btn-table">Supprimer</button>
         </td>
      </tr>
   </tbody>
</table>